<header class="sidebar">
    
    <div class="logo">
        <h4>SAGA</h4>
        <small>Sistema Automatizado de Gestión de Asistencias</small>
    </div>

    <ul class="nav flex-column mt-4">
        <li class="nav-item">
            <a href="../pages/miembros.html" class="nav-link">Miembros</a>
        </li>
        <li class="nav-item">
            <a href="../pages/registros.html" class="nav-link">Registros</a>
        </li>
        <li class="nav-item">
            <a href="../pages/reportes.html" class="nav-link">Reportes</a>
        </li>
    </ul>

</header>